body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.tweet_body2 td.top_count {
  height: 20px;
  width: 28px;
  display: inline-block;
  color: #fff;
  font-family: Georgia,Helvetica,sans-serif;
  font-size: 35px;
  font-style: bold;
  font-weight: 900;
  text-shadow: none;
  text-align: center;
}

.data_number {
  font-family: 'DejaVuSansBold', Helvetica, Arial, sans-serif;
  font-size: 52px;
  color: #7D93B2;
}

/** Fixes to global UI for v2 report **/
#wrapper {
  width: 960px;
}
.wrapped_content {
  width: 940px;
}

/** Buttons overrides */
.button {
  background: rgb(234,234,234); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  color: #333333 !important;
  cursor: pointer;
  display: inline-block;
  padding: 2px 6px;
  text-decoration:none;
  text-shadow:0 1px 0 #efefef;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c9c9c9;
  font-size: 12px;
}
.button:hover {
  cursor: pointer;
}
.disabled_button {
  color: #999 !important;
}
.disabled_button:hover {
  background-position: 0 0;
}
.warning_button {
  background-color: #900;
  background-image: url(/images/button_background_warning.png);
  border: 1px solid #FFAAAA;
  color: #600 !important;
  text-shadow: 0 1px 0 #FFDCDC;
}

/****************START REPORT V2****************/
/** start @font-face**/
@font-face {
  font-family: 'DejaVuSansBook';
  src: url('/fonts/DejaVuSans-webfont.eot');
  src: url('/fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/DejaVuSans-webfont.woff') format('woff'),
  url('/fonts/DejaVuSans-webfont.ttf') format('truetype'),
  url('/fonts/DejaVuSans-webfont.svg#DejaVuSansBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {

}
@font-face {
  font-family: 'Petrona', Times New Roman, serif;
  src: local('Petrona');
  font-weight: normal;
  font-style: normal;
}
/** end font-face **/
.print_header2 {
  display: none;
}
.print_footer2 {
  display: none;
}
#rv2 {
  font-family: 'DejaVuSansBook', Helvetica, Arial, sans-serif;
  color: #444;
  font-weight: normal;
  padding: 2px;
  font-size: 12px;
  clear:both;
}
#rv2 h1, #rv2 h2, #rv2 h3, #rv2 h4 {
  font-weight: normal;
  margin: 0;
}
/**module headings*/
#rv2 h1, #rv2 h2 {
  font-family: 'Petrona', Georgia, Times New Roman, serif;
  font-weight: 100;
  color: #888;
}
#rv2 h2 {
  font-size: 32px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 18px;
  line-height: 42px;
}
#rv2 h3 {
  font-family: 'DejaVuSansBook', Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #888;
  margin: 10px 0 5px 0;
  text-align: left;
  font-weight: bold;
}
#rv2 h4 {
  font-family: 'DejaVuSansBook', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #888;
  margin: 10px 0 5px 0;
  text-align: left;
  font-style: italic;
  padding: 7px;
}
#rv2  a{
  color: #7D93B2;
}
/** data labels & numbers*/
.data_number {
  font-family: 'DejaVuSansBold', Helvetica, Arial, sans-serif;
  font-size: 52px;
  color: #7D93B2;
}
.data_unit {
  font-family: 'DejaVuSansBook', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #999;
  font-weight: 100;
  margin-left: 5px;
  text-transform: lowercase;
}
.tickLabels .tickLabel{
  color: #555;
}
/****LAYOUT****/
.cols{
  padding: 8px 5px;
  vertical-align: top;
  margin-top:5px;
}
.column1 {
  display: inline-block;
  width: 540px;
  margin-right: 5px;
}
.column2{
  width: 1200px;
  display: inline-block;
}
.column3{
  width: 460px;
  display:inline-block;
  margin-right: 5px;
}
.column4 {
  width: 460px;
  display: inline-block;
}
/**** HEADER ****/
#search_form #q{
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #444;
}
.version_switch {
  font-family: 'DejaVuSansBook', Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-left: 630px;
  padding: 4px 0px 5px 8px;
  color: #7D93B2;
  text-align: right;
}
#report_cta2 {
  font-family: 'DejaVuSansBook', Helvetica, Arial, sans-serif;
  background: #FEF9E6;
  padding: 5px;
  position: relative;
  text-align: left;
  height: auto;
  margin-bottom: 10px;
  color: #444;
}
#report_cta2 h1,
#report_cta2 h2,
#report_cta2 h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: normal;
}
.cta_results {
  display: inline-block;
  width: 640px;
}
#report_cta2 h1 {
  font-size: 20px;
  font-family: 'DejaVuSansBold', Helvetica, Arial, sans-serif;
}
#report_cta2 h2 {
  font-size: 16px;
}
#report_cta2 h3 {
  font-size: 12px;
  margin-bottom: 3px;
}
.cta_badge {
  width: 280px;
  margin: 0;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 5px;
}
.cta_btn {
  padding: 6px 10px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #b9b9b9;
  margin-top: 8px;
}
#report_share2 {
  text-align: right;
  padding-top:6px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.toolbar2 {
  background: rgb(234,234,234); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  margin-top: -1px;
  overflow: hidden;
  padding: 2px;
  position: relative;
  border: 1px solid #C9C9C9;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.toolbar2 .button {
  font-family: 'DejaVuSansBook', Helvetica, Arial, sans-serif;
  border: none;
  font-size: 10px;
  font-weight:normal;
  padding: 1px 3px;
}

/* toolbar button icons */
.toolbar2 .btn_icon {
  width: 16px;
  height: 16px;
  display: block;
  margin: auto;
  padding-bottom: 1px;
}
.toolbar2 .report_btn_div {
  background: url('/images/toolbar/new/run_report.png') center 0 no-repeat;
  float: left;
  display:inline-block;
  margin:auto;
  min-width: 55px;
  max-width: 108px;
  text-align: center;
}
.toolbar2 .report_btn_div:disabled {
  background: url('/images/toolbar/new/run_report_disabled.png') center 0 no-repeat;
  float: left;
  display:inline-block;
  min-width:55px;
  max-width: 108px;
  margin:auto;
  color: #999 !important;
  text-align: center;

}
.toolbar2 .report_btn_icon {
  margin-top: 17px;
  text-align: left;
  display: block;
  background: transparent;
}
.toolbar2 .report_btn_icon:disabled  {
  background: url('/images/toolbar/new/run_report_disabled.png') center 0 no-repeat;
  float: left;
  display:inline-block;
  min-width:65px;
  max-width: 110px;
  margin:auto;
  color: #999 !important;
  padding-top: 17px;
}
.toolbar2 .csv_btn_icon{
  background: url('/images/toolbar/new/export.png') 0 0 no-repeat;
}
.toolbar2 .pdf_btn_icon {
  background: url('/images/toolbar/new/export.png') 0 0 no-repeat;
}
.toolbar2 .print_btn_icon {
  background: url('/images/toolbar/new/print.png') 0 0 no-repeat;
}
.toolbar2 .latest_btn_icon {
  background: url('/images/toolbar/new/latest.png') 0 0 no-repeat;
}
.toolbar2 .help_btn_icon {
  background: url('/images/toolbar/help.png') 0 0 no-repeat;
}
.toolbar2 .email_btn_icon {
  background: url('/images/toolbar/new/email.png') 0 0 no-repeat;
}
/* save button with special suffixes */
.toolbar2 .save_btn_icon.icon_set_a {
  background: url('/images/toolbar/new/save.png') 0 0 no-repeat;
}
.unsave_btn_icon.icon_set_a {
  background: url('/images/toolbar/new/unsave.png') 0 0 no-repeat;
}
/* dummy alternate save/unsave buttons */
.toolbar2 .save_btn_icon.icon_set_b {
  background: url('/images/toolbar/new/save.png') 0 0 no-repeat;
}
.toolbar2 .unsave_btn_icon.icon_set_b {
  background: url('/images/toolbar/new/unsave.png') 0 0 no-repeat;
}
.toolbar2 .link_btn_icon {
  background: url('/images/toolbar/new/link.png') 0 0 no-repeat;
}
/**** END HEADER ****/

/**reach**/
#rv2 .query_title {
  text-align: center;
  border-bottom: none;
  margin-top:15px;
  margin-bottom: 5px;
}
.query {
  font-family: 'DejaVuSansBold', Helvetica, Arial, sans-serif;
  font-size: 36px;
  text-align: center;
  white-space:normal;
  width: 820px;
  margin: 0 auto 10px auto;
  overflow: hidden;
}
.empty_results {
  text-align: center;
  margin-left: 330px;
  color: #888;
  font-size: 14px;
  font-style: italic;
}
.reach_score {
  font-size: 78px;
  text-align: center;
  padding-top: 46px;
}
.reach_score_unit{
  margin-left: 200px;
  text-align: center;
}
.follower_tiers_graph {
  height: 120px;
  margin-top: 20px;
}
/**exposure**/
.exposure_impressions {
  font-size: 40px;
}
.exposure_graph {
  height: 120px;
  margin-top: 20px;
}
#rv2 .bar_label {
  width: 85px;
  font-size: 15px;
  color: #666;
  font-weight: normal;
  text-align: center;
}
.helper_text {
  margin: 5px auto 0 auto;
  font-size: 10px;
  color: #666;
  text-align: center;
}
/**activity**/
.activity {
  display: block;
  clear:both;
}
.activity_summary {
  display:inline-block;
  float: left;
  width: 580px;
  margin-bottom: 20px;
}
.activity_tweets, .activity_contribs, .activity_duration {
  font-family: 'DejaVuSansBold', Helvetica, Arial, sans-serif;
  color: #7D93B2;
  float: none;
  font-size: 32px;
  height: 32px;
  margin-right: 25px;
}
.activity_contribs {
  margin-left: -1px;
}
.activity_duration {
  float: none;
  text-align: justify;
}
.activity_graph {
  margin-top: 10px;
  width: 560px;
  height: 140px;
  float: left;
}
.activity_graph .activity_graph_label_date {
  display: block;
}
.activity_pie {
  height: 517px;
  padding-right: 15px;
  float: right;
  width: 570px;
}
.activity_pie .pieLabel {
  text-align: center;
  color: #666;
  font-size: 12px;
}
#activity_graph_tooltip {
  font-size: 12px;
  color:#efefef;
  background: #000;
  opacity:0.8;
  filter:alpha(opacity=90); /* For IE8 and earlier */
  padding: 5px 8px;
  border:1px solid #999;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  position: absolute;
  z-index: 10000;
}
/**top contributors**/
.top_contrib {
  margin-bottom: 26px;
  overflow: hidden;
}
.top_contrib h3 {
  margin-top: 0 !important;
}
.impressions_count, .retweeted_count, .mentioned_count{
  font-size: 28px;
  font-family: 'DejaVuSansBold', Helvetica, Arial, sans-serif;
  color: #7D93B2;
  width: 160px;
  float: left;
  text-transform: uppercase;
  margin-right: 10px;
}
.topcontrib_avatar {
  height: 48px;
  width: 48px;
  position: absolute;
  top: 0;
  left: 0;
}
.contributor_info{
  width: 170px;
  float:right;
  margin-top: -21px;
  padding-left: 58px;
  position: relative;
}
.topcontrib_screen_name a {
  font-family: 'DejaVuSansBold', Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-bottom: 10px;
  color: #7D93B2;
  display: inline;
  text-decoration: none;
}
img.avatar {
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
}
.twitter-follow-button {
  margin-top: 8px;
}

/**most retweeted tweets**/
.most_retweeted_count {
  font-size: 30px;
  float: left;
  clear: both;
  text-align: right;
  width: 80px;
  text-transform: uppercase;
}
.retweeted_tweet .tweet2 {
  float: right;
  width: 370px;
}
.tweet2 {
  margin: 0 0 15px 0;
  min-height: 50px;
  overflow: hidden;
  position: relative;
  text-align: left;
}
.tweet_avatar2 {
  float: left;
  margin-right: 8px;
  height: 48px;
  width: 48px;
  overflow: hidden;
}
.tweet_body2 {
  margin-left: 55px;
  margin-bottom: 10px;
  width: auto;
  font-size: 12px;
}
.tweet_meta2 a{
  text-decoration: none;
}
.tweet_meta2 a:hover {
  text-decoration: underline;
}
a.tweet_link, .tweet_absolute_time, .tweet_relative_time{
  font-size: 10px;
  color: #999;
  text-decoration: none;
}
/**tweets timeline**/
.timeline {
  border-left: 1px dashed #ddd;
  padding: 12px 0;
}
.timeline_tweets {
  padding-left:10px;
}
#rv2 h3.timeline_point{
  font-weight: normal;
  font-size: 14px;
  color: #999;
  padding-left: 20px;
  background: url(/images/timeline_point.png) no-repeat 0 center;
  margin-left: -6px;
}
#rv2 h3.timeline_created {
  font-family: 'DejaVuSansBook', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #999;
}
/**contributors**/
table.contributors {
  width: 96%;
  border-collapse: collapse;
  margin-right: 20px;
  font-size: 13px;
  color: #7D93B2;
}
table.contributors tr, table.contributors td {
  text-align: right;
  border-bottom: 2px solid #fff;
  padding: 8px 0;
}
table.contributors th {
  color: #999;
  font-weight: normal;
  text-align: right;
}
table.contributors td.screen_name {
  text-align: left;
  font-weight: bold;
}
table.contributors td.contributor_number {
  padding-right: 15px;
  color: #666;
}
table.contributors td.contrib_impressions_count {
  font-weight: bold;
  padding-right: 8px;
}
.odd {
  background:#F8F9FB;
  padding: 8px;
}
.even {
  background:#FBFCFD;
}

/* "info button" tooltip content */
#rv2 .tooltip_content {
  display: none;
  width: 800px;
}
.tipsy {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 16px;
  font-size: 12px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tipsy-inner {
  background: #000;
  max-width: 300px;
}

.tooltip {
  position:relative; /*this is the key*/
  z-index:2;
  font-family: 'DejaVuSansBook', Helvetica, Arial, sans-serif;
  text-decoration:none;
}
.tooltip:hover {
  z-index:2000;
  cursor: pointer;
}
.tooltip span {
  display:none;
}
.tooltip:hover span {
  /*the span will display just on :hover state*/
  font-size: 12px;
  color:#efefef;
  line-height: 18px;
  text-align: left;
  display:block;
  width: 270px;
  position:absolute;
  bottom: 30px;
  left: -98px;
  background: #000;
  opacity:0.8;
  filter:alpha(opacity=90); /* For IE8 and earlier */
  padding: 10px 8px;
  border:1px solid #999;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
/****************END REPORT V2****************/

/* link dialog */
#link_dialog .dialog_body {
  overflow: hidden;
  position: relative;
  width: 410px;
}
#link_dialog .dialog_panes {
  position: relative;
  width: 820px;
}
#link_dialog {
  display: none;
  margin: 0 5px;
  width: 400px;
}
#link_dialog input[type=text] {
  width: 394px !important;
}
#link_dialog input[type=text] {
  font-size: 10pt;
  padding: 4px 2px;
}
#link_dialog #report_permalink {
  margin-bottom: 14px;
}


