<div id="rv2">
  <div class="cols column2">
    <h2>Exposure</h2>
    <div class="exposure_impressions data_number">
      <%= number_with_delimiter(@total_impressions, :delimiter => ',')%>
      <span class="data_unit" style="text-align:center;">impressions</span>
    </div>
    <%= high_chart("my_bar_div", @bar) %>
  </div>
  <div class="cols column1">
    <h2>Estimated Reach </h2>
    <div class="reach_score data_number"><%= number_with_delimiter(@estimated_reach.to_i, :delimiter => ',')%></div>
  </div>
  <div class="cols column4">
    <h2>Most Retweeted tweets</h2>
    <table class="table">
      <tbody>
      <% @most_retweets.each do |tweet|%>
          <tr class="tweet_body2">
            <td style="height: 20px;
                    width: 28px;
                    display: inline-block;
                    color: #FF3D1F;
                    font-family: Georgia,Helvetica,sans-serif;
                    font-size: 35px;
                    font-weight: 900;
                    text-shadow: none;
                    text-align: center"><%= tweet.retweet_count%></td>
            <td><%= link_to image_tag(tweet.profile_img_url), tweet.user_url%></td>
            <td><%= auto_link(tweet.tweet_text)%></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="activity cols">
    <h2>Activity </h2>
    <div class="activity_pie" style="padding: 0px; position: relative;">
      <%= high_chart("my_id4", @chart)%>
    </div>
    <div class="activity_summary">
      <div class="activity_tweets">
        <%= @total_tweets%>
        <span class="data_unit">tweets</span>
      </div>
      <div class="activity_contribs">
        <%= @total_contributor %>
        <span class="data_unit">contributors</span>
      </div>
      <div class="activity_duration">
        6
        <span class="data_unit">Hours</span>
      </div>
      <%= high_chart("my_id", @h) %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6" style="background: #eee;">
    <h4 class="heading">Contributors</h4>
    <table class="table">
      <tbody>
      <tr>
        <th colspan="1">&nbsp;</th>
        <th>Tweets</th>
        <th>Impressions</th>
      </tr>
      <% @top_contributors.each do |cont| %>
          <tr>
            <td><%= link_to cont.user.gsub(/\s+/, "") ,"https://twitter.com/#{cont.user.gsub(/\s+/, "")}" %></td>
            <td><%= cont.c%> </td>
            <td><%= cont.follow%></td>
          </tr>
      <%end%>
      </tbody>
    </table>
  </div>

  <div class="span6" style="background: #F5F5FD;">
    <h4 class="heading">Tweets Timeline</h4>
    <table class="table">
      <tbody>
      <% @tweet_timelines.each do |timeline| %>
          <div class="timeline-post-item">
            <tr>
              <td><%= link_to image_tag(timeline.profile_img_url), timeline.user_url %></td>
              <td><%= auto_link(timeline.tweet_text)%></td>
            </tr>
          </div>
      <%end%>
      </tbody>
    </table>
  </div>

</div>

