<%= form_tag({controller: "reports", action: "tweet_analyse"}, method: "get") do %>
    <div class="controls">
      <%= text_field_tag :q %>
    </div>
    <%= button_tag(type: 'submit', class: "btn btn-medium btn-search btn-primary") do %>
        <i class="icon icon-search"></i> Analyze
    <% end %>
<% end %>
