<h1> Showing Twitter analytics for <%= @contributor.name %> </h1>
<%= high_chart("my_id", @line_charts) %>
<h2> Total Impressions </h2>
  <%= @total_impressions.to_i   %>
<h2> Estimated Reach </h2>
<%=  @estimated_reach.to_i %>
<h2> Total Tweets </h2>
<%= @total_tweets.to_i %>

