<!DOCTYPE html>
<html>
<head>
  <title>TwitterAnalyzer</title>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/reports">Twitter Analyzer</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Contributors" ,contributors_path%></li>
          <li><%= link_to "New Contributor",new_contributor_path %></li>
          <li><%= link_to "New Search",new_report_path %></li>

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="span12"><%= yield %></div>
</div>
</div>
</body>
</html>
